---
import get from 'just-safe-get'

const { content, index, section } = Astro.props
const rgba = {
  red: get(content, 'backgroundColor.red', 255),
  green: get(content, 'backgroundColor.green', 255),
  blue: get(content, 'backgroundColor.blue', 255),
  alpha: (get(content, 'backgroundColor.alpha', 255) / 255),
}
const bgImage = content.backgroundImage
  ? `background-image: url("${content.backgroundImage.url}");`
  : ''
const { locale } = Astro.params
---

<section id={`section-${section}`} class={`relative ${content.addShadow ? 'shadow-md' : ''} ${content.backgroundImage ? 'text-white' : 'text-black'} bg-no-repeat bg-cover bg-center`} style={`z-index: ${index}; ${bgImage}`}>
  <div class="absolute inset-0 z-[1]" style={`background-color: rgba(${rgba.red}, ${rgba.green}, ${rgba.blue}, ${rgba.alpha})`}></div>
  <div class="relative z-10">
    <slot />
  </div>
</section>
