---
import get from 'just-safe-get'

const { content, index, section } = Astro.props
const rgba = {
  red: get(content, 'backgroundColor.red', 255),
  green: get(content, 'backgroundColor.green', 255),
  blue: get(content, 'backgroundColor.blue', 255),
  alpha: (get(content, 'backgroundColor.alpha', 255) / 255),
}
const bgImage = content.backgroundImage?.mimeType?.includes('image')
  ? `background-image: url("${content.backgroundImage.url}");`
  : ''
const { locale } = Astro.params
const sectionId = content.title
  ? content.title
    .toLowerCase() // Convert to lowercase
    .replace(/[^a-z0-9]+/g, '-') // Replace non-alphanumeric characters with hyphens
    .replace(/-+/g, '-') // Replace multiple consecutive hyphens with a single hyphen
    .replace(/^-|-$/g, '') // Remove leading and trailing hyphens
  : ``
---

<section id={`section-${section}`} class={`relative ${content.addShadow ? 'shadow-md' : ''} ${content.backgroundImage ? 'text-white' : 'text-black'} bg-no-repeat bg-cover bg-center`} style={`z-index: ${index}; ${bgImage}`}>
  <div class="absolute inset-0 z-[1]" style={`background-color: rgba(${rgba.red}, ${rgba.green}, ${rgba.blue}, ${rgba.alpha})`}></div>
  {content.backgroundImage?.mimeType?.includes('video')
    ? <div class="overflow-hidden absolute min-w-full min-h-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 object-cover">
      <video autoplay muted loop class="absolute min-w-full min-h-full top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 object-cover">
        <source src={content.backgroundImage.url} type="video/mp4">
      </video>
      </div>
    : ''
  }

  <div id={sectionId} class="relative z-10">
    <slot />
  </div>
</section>
