---
import get from 'just-safe-get'
const { content, index } = Astro.props
const rgba = {
  red: get(content, 'backgroundColor.red', 255),
  green: get(content, 'backgroundColor.green', 255),
  blue: get(content, 'backgroundColor.blue', 255),
  alpha: (get(content, 'backgroundColor.alpha', 255) / 255),
}
---

<section class={`relative ${content.addShadow ? 'shadow-md' : ''}`} style={`background-color: rgba(${rgba.red}, ${rgba.green}, ${rgba.blue}, ${rgba.alpha}); z-index: ${index}`}>
  <slot />
</section>
