---
import Container from '../Container.vue'
import RoundButton from '../RoundButton.vue'
import ArrowDownIcon from '../icons/ArrowDownIcon.vue'
import Image from '../Image.vue'
const { content } = Astro.props
const top = content.illustrationTopPosition ? `${content.illustrationTopPosition}px` : 'auto'
const bottom = content.illustrationTopPosition ? 'auto' : `${content.illustrationBottomPosition || '0'}px`
const right = content.illustrationRightPosition ? `${content.illustrationRightPosition}px` : '0'
const width = content.illustrationWidth
  ? `${content.illustrationWidth}%`
  : `${content.expandedMasthead ? '75' : '50'}%`
---

<div class={`${content.expandedMasthead ? 'h-[calc(100vh-50px)]' : 'min-h-[50vh] md:mb-8'} md:max-h-[900px]`}>
  <Container class={`${content.expandedMasthead ? 'pt-28' : 'pt-8'} ${content.showScrollButton ? '' : 'pb-24'} relative`}>
    {!content.expandedMasthead &&
      <h1 class="font-bold mt-12 text-5xl lg:text-7xl lg:mt-20 md:w-3/5">{content.title}</h1>
    }
    {content.expandedMasthead &&
      <div class="mt-2 border-y-2 py-2 pl-1 border-brand-primary">
        <img class="w-32 md:w-48 lg:w-60" src="/assets/lifeplus.svg" alt="LifePlus" />
      </div>
    }
    {content.expandedMasthead &&
      <div class="text-3xl md:text-5xl lg:text-6xl tracking-tight font-orleans py-1 border-b-8 border-brand-primary divide-y-2 divide-brand-primary" set:html={content.title}></div>
    }

    <div class="block md:hidden py-4">
      <Image client:load data={content.illustration.responsiveImage} lazyLoad={false} />
    </div>

    {content.content &&
      <div class="font-serif text-lg lg:text-2xl max-w-sm md:max-w-[280px] lg:max-w-[350px] pt-8 pb-16 md:py-0 md:mt-[4.5rem]" set:html={content.content}></div>
    }

    {content.showScrollButton &&
      <div class={`hidden md:block ${content.expandedMasthead ? 'py-24' : 'relative top-8 lg:mt-10'}`}>
        <div class="inline-flex flex-col text-center text-brand-primary text-sm font-medium">
          <div class="mb-2">Scroll</div>
          <RoundButton solid={true} id="scroll-button" class="transition-transform duration-200 hover:translate-y-2">
            <ArrowDownIcon class="w-6 h-6 fill-current" />
          </RoundButton>
        </div>
      </div>
    }
    <div
      class={`illustration hidden md:flex ${content.expandedMasthead ? 'w-3/4 lg:bottom-0 top-0 lg:top-auto' : 'w-1/2 bottom-0'} absolute z-10 right-0 justify-end items-start`}
      style={`top:${top}; bottom:${bottom}; right:${right}; width:${width};`}
    >
      <img class="w-full" srcset={content.illustration.responsiveImage.webpSrcSet} src={content.illustration.responsiveImage.url} alt={content.illustration.responsiveImage.alt} />
    </div>
  </Container>
</div>