---
import Container from '../Container.vue'
import RoundButton from '../RoundButton.vue'
import ArrowDownIcon from '../icons/ArrowDownIcon.vue'
const { content } = Astro.props
---

<div class="min-h-[calc(100vh-50px)] md:max-h-[900px]">
  <Container class="pt-8 relative">
    {content.expandedMasthead &&
      <div class="border-y-2 p-2 border-brand-primary">
        <img class="w-32 md:w-48 lg:w-60" src="/assets/lifeplus.svg" alt="LifePlus" />
      </div>
    }
    {content.expandedMasthead &&
      <div class="text-3xl md:text-5xl lg:text-6xl font-orleans py-1 border-b-4 border-brand-primary divide-y-2 divide-brand-primary" set:html={content.title}></div>
    }

    <div class="block md:hidden py-4">
      <img class="w-full" src={content.illustration.url} alt={content.illustration.alt} />
    </div>

    <div class="font-serif text-lg lg:text-2xl max-w-sm md:max-w-[280px] lg:max-w-[350px] pt-8 pb-16 md:py-0 md:mt-[4.5rem]" set:html={content.content}></div>

    {content.showScrollButton &&
      <div class={`${content.expandedMasthead ? 'hidden md:block py-24' : '-mt-8'}`}>
        <div class="inline-flex flex-col text-center text-brand-primary text-sm font-medium">
          <div class="mb-2">Scroll</div>
          <RoundButton solid={true}>
            <ArrowDownIcon class="w-6 h-6 fill-current" />
          </RoundButton>
        </div>
      </div>
    }
    <div class="hidden md:flex w-3/4 absolute z-10 top-0 lg:top-auto lg:bottom-0 right-0 justify-end items-start">
      <img class="w-full" src={content.illustration.url} alt={content.illustration.alt} />
    </div>
  </Container>
<!-- <pre>{JSON.stringify(content, null, 2)}</pre> -->
</div>