---
import Container from '../Container.vue'
import RoundButton from '../RoundButton.vue'
import ArrowDownIcon from '../icons/ArrowDownIcon.vue'
const { content } = Astro.props
---

<div class={`${content.expandedMasthead ? 'min-h-[calc(100vh-50px)] md:max-h-[900px]' : 'md:mb-8'}`}>
  <Container class={`${content.expandedMasthead ? 'pt-28' : 'pt-8'} relative`}>
    {!content.expandedMasthead &&
      <h1 class="font-bold mt-12 text-5xl lg:text-7xl lg:mt-20 md:w-3/5">{content.title}</h1>
    }
    {content.expandedMasthead &&
      <div class="mt-2 border-y-2 p-2 border-brand-primary">
        <img class="w-32 md:w-48 lg:w-60" src="/assets/lifeplus.svg" alt="LifePlus" />
      </div>
    }
    {content.expandedMasthead &&
      <div class="text-3xl md:text-5xl lg:text-6xl font-orleans py-1 border-b-8 border-brand-primary divide-y-2 divide-brand-primary" set:html={content.title}></div>
    }

    <div class="block md:hidden py-4">
      <img class="w-full" srcset={content.illustration.responsiveImage.webpSrcSet} src={content.illustration.url} alt={content.illustration.alt} />
    </div>

    <div class="font-serif text-lg lg:text-2xl max-w-sm md:max-w-[280px] lg:max-w-[350px] pt-8 pb-16 md:py-0 md:mt-[4.5rem]" set:html={content.content}></div>

    {content.showScrollButton &&
      <div class={`hidden md:block ${content.expandedMasthead ? 'py-24' : 'relative top-8 lg:mt-10'}`}>
        <div class="inline-flex flex-col text-center text-brand-primary text-sm font-medium">
          <div class="mb-2">Scroll</div>
          <RoundButton solid={true} id="scroll-button">
            <ArrowDownIcon class="w-6 h-6 fill-current" />
          </RoundButton>
        </div>
      </div>
    }
    <div class={`hidden md:flex ${content.expandedMasthead ? 'w-3/4 lg:bottom-0 top-0 lg:top-auto' : 'w-1/2 bottom-0'} absolute z-10 right-0 justify-end items-start`}>
      <img class="w-full" srcset={content.illustration.responsiveImage.webpSrcSet} src={content.illustration.url} alt={content.illustration.alt} />
    </div>
  </Container>
</div>