---
import get from 'just-safe-get'
import Container from '../Container.vue'
const { content } = Astro.props
const getColor = stat => {
  const rgb = {
    red: get(stat, 'textColor.red', 255),
    green: get(stat, 'textColor.green', 255),
    blue: get(stat, 'textColor.blue', 255),
  }

  return `color: rgb(${rgb.red}, ${rgb.green}, ${rgb.blue});`
}
---

<style>
.stat:nth-child(n+2) {
  margin-top: calc(0px - theme('spacing.8') - 1px);
}

@media screen(md) {
  .stat:nth-child(n+2) {
    margin-top: 0;
  }

  .stat:nth-child(n+3) {
    margin-top: calc(0px - theme('spacing.8') - 1px);
  }
}

@media screen(lg) {
  .stat:nth-child(n+2) {
    margin-top: 0;
  }

  .stat:nth-child(n+4) {
    margin-top: calc(0px - theme('spacing.8') - 1px);
  }
}
</style>

<div class="py-12 lg:py-20">
  <Container>
    {content.title && <h2 class="text-sm font-medium pb-10">{content.title}</h2>}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {content.stats.map(stat => (
        <div
          class="stat border-b border-gray-300 pb-8"
          style={getColor(stat)}
        >
          <div class="py-1 border-y border-gray-300 text-4xl">{stat.title}</div>
          <div class="text-4xl font-bold">{stat.value}</div>
        </div>
      ))}
    </div>
    {content.illustration &&
      <div class="flex justify-end">
        <img
          class="-mb-8 -mt-16 h-64 w-auto"
          srcset={content.illustration.responsiveImage.webpSrcSet}
          src={content.illustration.responsiveImage.src}
          alt={content.illustration.responsiveImage.alt}
        />
      </div>
    }
  </Container>
</div>