---
import Container from '../Container.vue'
import BlockTitle from '../BlockTitle.astro'
import { fetchVacancies, buildVacancySlug } from '../../vacancies.mjs'
const { content, locale } = Astro.props
let vacancies = await fetchVacancies()

// Sort vacancies to put remote positions at the top
vacancies.sort((a, b) => {
  const aIsRemote = a.location && a.location.toLowerCase().includes('remote')
  const bIsRemote = b.location && b.location.toLowerCase().includes('remote')
  
  if (aIsRemote && !bIsRemote) return -1
  if (!aIsRemote && bIsRemote) return 1
  return 0
})
---

<script is:inline src="https://vacancies.lifepluslearning.com/vendor/embed/script.js"></script>
<script is:inline>
  initInterestForm('interest_form')
</script>

{vacancies.length > 0 &&
  <div class="pt-12 pb-20" id="listing">
    <Container>
      <BlockTitle content={content} />

      <ul class="relative z-10 grid lg:grid-cols-2 lg:gap-8">
        {vacancies.map((vacancy, index) => (
          <li class={`py-5 border-t border-gray-300 first-of-type:border-t-0 ${index === 1 ? 'lg:border-t-0' : ''}`}>
            <div class="text-sm"> {vacancy.location || (vacancy.entity?.name && (vacancy.entity.name + (vacancy.entity?.country ? `, ${vacancy.entity.country}` : '')))}</div>
            <div>
              <a href={`${buildVacancySlug(vacancy, locale)}?utm_source=lifeplus&utm_content=careers+page`} class="text-2xl font-bold text-brand-primary hover:underline text-left" onclick={`fathom.trackEvent('${vacancy.display} ${vacancy.entity?.short_name} click');`}>{vacancy.display}</a>
            </div>
            <div class="text-sm">Needed by {vacancy.needed_by}</div>
          </li>
        ))}
        <li class="lg:col-start-2 mt-6 lg:mt-6">
          {content.content && <div set:html={content.content} class={`prose lg:prose-lg mb-6 lg:mb-10`}></div>}
          <div>
            <div class="border-b border-gray-300">
              <a href={`/apply`} onclick="fathom.trackEvent('apply clicked');" class="flex justify-between items-center group border-y border-gray-300">
                <h4 class="text-2xl md:text-4xl leading-[2.5rem] md:leading-[3rem] text-brand-primary">Apply</h4>
                <span>
                  <div class="h-6 w-6 md:w-8 md:h-8 flex items-center justify-center rounded-full bg-brand-primary text-white transition-transform group-hover:translate-x-2 rtl:group-hover:-translate-x-2 duration-200">
                    <ion-icon class="w-4 md:w-5 h-4 md:h-5 rtl:hidden md flip-rtl hydrated" role="img" name="arrow-forward-outline"></ion-icon>
                    <ion-icon class="w-4 md:w-5 h-4 md:h-5 hidden rtl:block md flip-rtl hydrated" role="img" name="arrow-back-outline"></ion-icon>
                  </div>
                </span>
              </a>
              <div class="text-lg md:text-2xl pt-1 pb-4 md:pb-6">Start your application today.</div>
            </div>
          </div>
        </li>
      </ul>
    </Container>
  </div>
}

{(content.alwaysShowInterestForm || vacancies.length === 0) &&
<>
  <Container>
    {content.formContent && <div set:html={content.formContent} class={`prose lg:prose-lg mx-auto max-w-md md:w-3/4 mb-6 pt-12`}></div>}
  </Container>
  <iframe src="https://vacancies.lifepluslearning.com/interest?embed=1&recruitment_source_id=1" frameborder="0" class="border-none w-full min-h-[800px]" id="interest_form"></iframe>
</>
}
