---
import shuffle from 'just-shuffle'
import { fetchPublicVacancies, buildVacancySlug, buildApplyUrl } from '../vacancies.mjs'
import { fetchLocales, setCurrentLocale, fetchUploads, getRandomImage } from '../datocms.mjs'
import BaseLayout from '../layouts/BaseLayout.astro'
import TopNav from '../components/TopNav.astro'
import Footer from '../components/Footer.astro'
import Progress from '../components/Progress.astro'
import Container from '../components/Container.vue'
import ShareButton from '../components/ShareButton.vue'
import Image from '../components/Image.vue'
await fetchUploads()

export async function getStaticPaths() {
  const locales = await fetchLocales()
  const publicVacancies = await fetchPublicVacancies()
  // External vacancies have pages to view, but aren't listed publicly
  const externalVacancies = await fetchPublicVacancies({ visibility: 'external' })
  const vacancyMapper = (vacancy, locale = '') => ({
    params: {
      vacancy: buildVacancySlug(vacancy, locale),
    },
    props: {
      vacancy,
      locale: locale || 'en',
      vacancies: publicVacancies,
    },
  })

  return locales.reduce((pages, locale) => {
    return [
      ...pages,
      ...publicVacancies.map(v => vacancyMapper(v, locale)),
    ]
  }, externalVacancies.map(v => vacancyMapper(v)))
}

const { vacancy, locale, vacancies } = Astro.props
setCurrentLocale(locale)
const logos = {
  academy: 'academy.svg',
  cdis: 'cdis.svg',
  isw: 'cdis.svg',
  isq: 'isq.svg',
  tis: 'tis.svg',
  tws: 'tws.svg',
  wyis: 'wyis.svg',
  yhis: 'yhis.svg',
}

const logo = `/assets/logos/${logos[vacancy.entity?.short_name?.toLowerCase()] || 'lpwl.svg'}`
const utmContent = `${vacancy.slug || ''} ${locale}`
  .toLowerCase() // Convert to lowercase
  .replace(/[^a-z0-9]+/g, '+') // Replace non-alphanumeric characters with +

const countryOpenings = shuffle(vacancies).filter(v => v.entity?.country === vacancy.entity?.country && v.id !== vacancy.id)
  .splice(0, 3)
const randomOpenings = countryOpenings.length === 0
  ? shuffle(vacancies.filter(v => v.id !== vacancy.id)).splice(0, 3)
  : countryOpenings

const featured = getRandomImage(vacancy.entity?.short_name?.toLowerCase())
const nameCountry = vacancy.display + `${vacancy.entity?.country ? ` in ${vacancy.entity.country}` : ''}`
const description = vacancy.entity?.name
  ? `Work as a ${nameCountry} with ${vacancy.entity?.name} and LifePlus.`
  : `Work as a ${nameCountry} with LifePlus.`
---

<BaseLayout locale={locale}>
  <Fragment slot="head">
    <title>{nameCountry} | Careers | LifePlus®</title>
    <meta name="description" content={description} />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={nameCountry} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={featured.responsiveImage.src} />
    <meta property="og:image" content={featured.responsiveImage.src} />
    <meta property="og:title" content={nameCountry} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.request.url} />
    <link sizes="16x16" type="image/png" rel="icon" href="https://www.datocms-assets.com/65472/1650904266-favicon.png?auto=format&amp;h=16&amp;w=16">
    <link sizes="32x32" type="image/png" rel="icon" href="https://www.datocms-assets.com/65472/1650904266-favicon.png?auto=format&amp;h=32&amp;w=32">
    <link sizes="96x96" type="image/png" rel="icon" href="https://www.datocms-assets.com/65472/1650904266-favicon.png?auto=format&amp;h=96&amp;w=96">
    <link sizes="192x192" type="image/png" rel="icon" href="https://www.datocms-assets.com/65472/1650904266-favicon.png?auto=format&amp;h=192&amp;w=192">
  </Fragment>

  <div id="menu-container"></div>
  <div id="wrapper" class="bg-white text-black font-sans antialiased min-h-screen flex flex-col justify-between">
    <TopNav currentId="tVaLASf5Qo6giokT7yeu8g" locale={locale} />

    <main class="flex-1 relative">
      <div class="bg-white shadow">
        <Container>
          <div class="grid lg:grid-cols-3" id="section-1">
            <div class="pt-10">
              <div class="w-1/2">
                {vacancy.entity?.website ?
                  <a href={`${vacancy.entity?.website}?utm_source=lifeplus+careers&utm_content=school+logo`} target="_blank">
                    <img src={logo} alt={vacancy.entity?.name}>
                    <span class="sr-only">{vacancy.entity.name} website</span>
                  </a>
                  : <img src={logo} alt={vacancy.entity?.name}>
                }
              </div>

              <div class="lg:w-3/4 lg:pe-4 lg:mt-12 mt-4 mb-4 lg:mb-0">
                <a href="/careers#listing?utm_source=career+listing&utm_content=aside+back" class="group inline-flex items-center text-brand-primary group mb-4">
                  <span class="w-8 h-8 flex items-center justify-center rounded-full bg-brand-primary transition ltr:group-hover:-translate-x-2 rtl:group-hover:translate-x-2">
                    <ion-icon class="rtl:hidden w-4 h-4 text-white" name="arrow-back-outline"></ion-icon>
                    <ion-icon class="ltr:hidden w-4 h-4 text-white" name="arrow-forward-outline"></ion-icon>
                  </span>
                  <span class="text-sm ms-4 font-medium">Back to careers</span>
                </a>

                <div class="lg:border-y border-gray-300">
                  <p class="font-medium text-sm py-2">Other openings{`${countryOpenings.length > 0 ? ` in ${vacancy.entity?.country}`: ''}`}</p>
                  <ul>
                    {randomOpenings.map(related => (
                      <li class="mb-5">
                        <p class="text-sm">{related.entity?.name}</p>
                        <p class="text-lg font-medium">{related.display}</p>
                        <a href={`${buildVacancySlug(related, locale)}?utm_content=other+openings`} class="group text-sm text-brand-primary font-medium inline-flex items-center">
                          <span>View</span>
                          <ion-icon class="w-4 h-4 ms-1.5 transition ltr:group-hover:translate-x-1 rtl:group-hover:-translate-x-1" name="arrow-forward-circle"></ion-icon>
                        </a>
                      </li>
                    ))}
                  </ul>
                </div>


              </div>
            </div>

            <div class="lg:col-span-2 lg:ps-4 lg:border-s border-gray-300">
              <Image client:load data={featured.responsiveImage} />

              <div class="mt-6">
                <p class="border-t font-bold border-gray-300 py-1.5 text-3xl md:text-4xl">
                  {vacancy.entity?.name}{vacancy.entity?.country ? `, ${vacancy.entity?.country}` : ''}
                </p>
                <h1 class="border-y border-gray-300 pt-1.5 pb-5 text-3xl md:text-4xl">
                  {vacancy.display}
                </h1>
              </div>

              <div class="pt-12 pb-12 md:pb-24 relative">
                <div class="prose prose-lg max-w-none" set:html={vacancy.job_code?.job_summary || '<p><strong>We are LifePlus, a company of world-class educators.</strong> We inspire learners of all ages to go and make a life-changing difference for the common good. As a global community, we are deeply committed to the people and cultures we serve as we deliver holistic educational services that grow servant leaders of outstanding character, competence and calling—for generations to come.</p>'}></div>

                <div class="hidden lg:block absolute right-0 bottom-0">
                  <div class="text-brand-primary text-sm font-medium text-center">
                    <div class="mb-2">Share</div>
                    <ShareButton client:idle url={`${Astro.request.url}?utm_content=footer+share&utm_medium=desktop`} />
                  </div>
                </div>
              </div>

              <section class="block-link_columns relative pb-12 text-black">
                <h2 class="text-sm font-medium pb-10">Your next step</h2>
                <div class="grid grid-cols-1 md:grid-cols-2  gap-8">
                  <div class="border-b border-gray-300">
                    <a href={buildApplyUrl(vacancy.id, locale, utmContent)} onclick="fathom.trackEvent('apply clicked');" target="_blank" class="flex justify-between items-center group border-y border-gray-300">
                      <h4 class="text-2xl md:text-4xl leading-[2.5rem] md:leading-[3rem] text-brand-primary">Apply</h4>
                      <span>
                        <div class="h-6 w-6 md:w-8 md:h-8 flex items-center justify-center rounded-full bg-brand-primary text-white transition-transform group-hover:translate-x-2 rtl:group-hover:-translate-x-2 duration-200">
                          <ion-icon class="w-4 md:w-5 h-4 md:h-5 rtl:hidden md flip-rtl hydrated" role="img" name="arrow-forward-outline"></ion-icon>
                          <ion-icon class="w-4 md:w-5 h-4 md:h-5 hidden rtl:block md flip-rtl hydrated" role="img" name="arrow-back-outline"></ion-icon>
                        </div>
                      </span>
                    </a>
                    <div class="text-lg md:text-2xl pt-1 pb-4 md:pb-6">Start your application today.</div>
                  </div>
                  <div class="border-b border-gray-300">
                    <a href={`${vacancy.entity?.website || '/schools'}?utm_source=lifeplus+careers&utm_content=learn+more+footer`} target="_blank" class="flex justify-between items-center group border-y border-gray-300">
                      <h4 class="text-2xl md:text-4xl leading-[2.5rem] md:leading-[3rem] text-brand-primary">Learn more</h4>
                      <span>
                        <div class="h-6 w-6 md:w-8 md:h-8 flex items-center justify-center rounded-full bg-brand-primary text-white transition-transform group-hover:translate-x-2 rtl:group-hover:-translate-x-2 duration-200">
                          <ion-icon class="w-4 md:w-5 h-4 md:h-5 rtl:hidden md flip-rtl hydrated" role="img" name="arrow-forward-outline"></ion-icon>
                          <ion-icon class="w-4 md:w-5 h-4 md:h-5 hidden rtl:block md flip-rtl hydrated" role="img" name="arrow-back-outline"></ion-icon>
                        </div>
                      </span>
                    </a>
                    <div class="text-lg md:text-2xl pt-1 pb-4 md:pb-6">Learn more about {vacancy.entity?.name}.</div>
                  </div>
                </div>
              </section>
          </div>
        </Container>
      </div>

      <section id="section-2" class="relative  text-white bg-no-repeat bg-cover bg-center" style="z-index: 1; background-image: url(&quot;https://www.datocms-assets.com/65472/1649842554-rasalkhaimah.jpg&quot;);">
        <div class="absolute inset-0 z-[1]" style="background-color: rgba(0, 0, 0, 0.5019607843137255)"></div>
        <div class="relative z-10">
          <div class="py-12">
            <div class="max-w-6xl w-full mx-auto px-4">
              <h2 class="text-sm font-medium pb-10" style="color:#FFFFFF;">Follow your calling</h2>
              <div class="max-w-[34rem] mx-auto py-12 lg:py-20">
                <div class="text-2xl lg:text-4xl lg:leading-[48px] text-brand-base centered-content mb-12"><p>Help us inspire learners <br>of all ages to go and make <br>a life-changing difference <br>for the common good.</p></div>
                <a href={buildApplyUrl(vacancy.id, locale, utmContent)} class="group inline-flex items-center space-x-4 lg:space-x-8 text-2xl lg:text-4xl font-bold">
                  <span>Apply now…</span>
                  <div class="flex-1 h-12 w-12 lg:w-16 lg:h-16 mx-auto flex items-center justify-center rounded-full bg-white text-brand-primary transition-transform group-hover:scale-110 duration-200">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 512 512" class="w-5 h-5 fill-current"><path d="M432,320H400a16,16,0,0,0-16,16V448H64V128H208a16,16,0,0,0,16-16V80a16,16,0,0,0-16-16H48A48,48,0,0,0,0,112V464a48,48,0,0,0,48,48H400a48,48,0,0,0,48-48V336A16,16,0,0,0,432,320ZM488,0h-128c-21.37,0-32.05,25.91-17,41l35.73,35.73L135,320.37a24,24,0,0,0,0,34L157.67,377a24,24,0,0,0,34,0L435.28,133.32,471,169c15,15,41,4.5,41-17V24A24,24,0,0,0,488,0Z"></path></svg>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <Footer />
    <Progress />
  </div>
</BaseLayout>