---
import Image from './Image.vue'
// <Image client:load data={content.image.responsiveImage} />
const { content } = Astro.props
const mailto = `mailto:${content.email}`
  .split('')
  .map(c => `&#${c.charCodeAt(0)};`)
  .join('')
---

<div>
  <Image client:load data={content.image.responsiveImage} class="w-full mb-4" />

  <div class="relative">
    <h5 class="text-lg font-bold font-serif leading-6">
      {content.name}
    </h5>
    <p class="text-lg font-serif leading-6">
      {content.title}
    </p>
    {content.email &&
      <Fragment set:html={
        `<a href="${mailto}" class="text-sm font-medium text-brand-primary hover:underline mt-4">
          ${content.email}
        </a>`
      } />
    }
  </div>
</div>
