---
import Image from './Image.vue'
// <Image client:load data={content.image.responsiveImage} />
const { content } = Astro.props
---

<div>
  <Image client:load data={content.image.responsiveImage} class="w-full mb-4" />

  <div class="relative">
    <h5 class="text-lg font-bold font-serif leading-6">
      {content.name}
    </h5>
    <p class="text-lg font-serif leading-6">
      {content.title}
    </p>
    <div class="text-sm font-medium text-brand-primary mt-4">
      {content.email}
    </div>
  </div>
</div>
