---
import { fetchMenu, fetchMenuItems, slugBuilder } from '../datocms.mjs'
import get from 'just-safe-get'
import Container from './Container.vue'
import ExternalLinkIcon from './icons/ExternalLinkIcon.vue'
import CityTime from './CityTime.vue'
import MobileMenu from './MobileMenu.vue'

const data = await fetchMenu()
const menuItemData = await fetchMenuItems()
const items = get(data, 'data.allMenuItems', [])
const allMenuItems = get(menuItemData, 'data.allMenuItems', [])
const { currentId } = Astro.props
const isActive = (item) => {
  return get(item, 'page.id') === currentId ||
    item.children?.some(c => get(c, 'page.id') === currentId)
}
const currentItem = allMenuItems.find(i => i?.page?.id === currentId)
const parentIndex = currentItem?.parent
  ? items.findIndex(i => i.id === currentItem.parent.id)
  : items.findIndex(i => i.id === currentItem.id)
const children = currentItem?.parent
  ? items.find(i => i.id === currentItem.parent.id).children
  : currentItem.children
const childOffset = 6 * parentIndex
---

<nav>
  <div class="shadow-md h-[50px] bg-white relative z-10">
    <Container class="flex justify-between h-full" padding={false}>
      <ul class="hidden lg:flex -ml-[1px] divide-x divide-gray-300 border-x border-gray-300">
        {items.map(item => (
          <li class="group flex relative w-24">
            <div class={`absolute transition-all w-full top-0 ${isActive(item) ? 'bg-black h-[10px]' : 'group-hover:bg-gray-300 h-0 group-hover:h-[10px]'}`}></div>
            <a
              class={`text-sm font-medium flex items-center space-x-1.5 pl-4 ${children.length > 0 && !isActive(item) ? 'text-gray-500 group-hover:text-black transition' : 'text-black'}`}
              href={item.externalUrl || slugBuilder(get(item, 'page.slug'))}
            >
              <span>{item.label}</span>
              {item.externalUrl && <ExternalLinkIcon class="h-3 w-3 text-gray-500" />}
            </a>
          </li>
        ))}
      </ul>
      <MobileMenu client:load items={items} currentId={currentId} />

      <div class="hidden lg:block">
        <ul class="flex items-center h-full text-gray-500 divide-x divide-gray-300 border-x border-gray-300">
          <li class="flex h-full items-center px-4"><CityTime client:load timezone={'America/New_York'} label={'Atlanta'} /></li>
          <li class="flex h-full items-center px-4"><CityTime client:load timezone={'Asia/Shanghai'} label={'Beijing'} /></li>
          <li class="flex h-full items-center px-4"><CityTime client:load timezone={'Asia/Dubai'} label={'Dubai'} /></li>
          <li class="flex h-full items-center px-4">ENG</li>
        </ul>
      </div>
      <div class="lg:hidden flex items-center px-4 text-gray-500">ENG</div>
    </Container>
  </div>

  {children.length > 0 &&
    <div class="shadow-md h-[50px] bg-white relative z-[5]">
      <Container class="flex justify-between h-full" padding={false}>
        <ul class="flex h-full divide-x divide-gray-300 border-x border-gray-300" style={`margin-left: ${childOffset}rem`}>
          {children.map(item => (
            <li class="group flex relative -mr-[1px] w-48">
              <div class={`absolute transition-all w-full top-0 ${isActive(item) ? 'bg-black h-[10px]' : 'group-hover:bg-gray-300 h-0 group-hover:h-[10px]'}`}></div>
              <a
                class="text-sm font-medium whitespace-nowrap flex items-center space-x-2 pl-4 pr-8"
                href={item.externalUrl || slugBuilder(get(item, 'page.slug'))}
              >
                <span>{item.label}</span>
                {item.externalUrl && <ExternalLinkIcon class="h-3 w-3 text-gray-500" />}
              </a>
            </li>
          ))}
        </ul>
      </Container>
    </div>
  }
</nav>